.greyLine
  width: 78.32px
  height: 0px
  left: 145.45px
  top: 311.58px
  border: 2.09784px solid #9C9C9C
  transform: rotate(-90deg)

.rectangle
  border-radius: 13.9856px 0px 0px 13.9856px
  background-color: yellowgreen
  width: 291px
  height: 27px

.firstBlock, .thirdBlock, .secondBlock,.fourthBlock
  width: 291px


.numberWrap,.textWrap
  height: 359px


.firstBlock, .thirdBlock
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .numberWrap
   display: flex
   flex-direction: column
   align-items: center

  .number
    margin-bottom: 80px

.rect
  width: inherit
  height: 27px
  background-color: #C1CDE3
.secondBlock, .fourthBlock
  display: flex
  flex-direction: column-reverse
  justify-content: center
  align-items: center
  .numberWrap
    display: flex
    flex-direction: column-reverse
    align-items: center

  .number
    margin-top: 80px

.textWrap
  text-align: center
  color: #FFFFFF
  width: 212px

