.heading
  font-size: 50px
  font-weight: 700
  line-height: 65px
  text-align: center
  color: #F1F1F1
  margin: 50px 0px 0px

.span
  color: #01EE88

.union
  width: 1165px

.sectionWrap
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 50px


@media (max-width: 1225px)
  .union
   width: 900px
@media (max-width: 950px)
  .union
    width: 650px
