



.row
  display: flex
  flex-direction: row
  align-items: center
  margin-bottom: 100px


.rowReverse
  display: flex
  flex-direction: row-reverse
  align-items: center
  margin-top: 100px


@media (max-width: 1225px)
  .row
    margin-bottom: 60px
  .rowReverse
    margin-top: 60px

@media (max-width: 950px)
  .rowReverse
    margin-top: 40px
  .row
    margin-bottom: 40px
