

.reverse
  display: flex
  flex-direction: column-reverse
  align-items: center
  width: 291px

.nonReverse
  display: flex
  flex-direction: column
  align-items: center
  width: 291px

.revLine,.nonRevLine
  background-color: #9C9C9C
  width: 78.32px
  height: 2.1px
  transform: rotate(-90deg)

.revLine
  margin-bottom: 55px
.nonRevLine
  margin-top: 55px

