.textBlockWrap
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 291px

.headerStyle
  margin-top: -40px

.innerTextWrap
  width: 212px
.textWrapStyle, .headerStyle
  width: 153px
p
  width: 212px
  color: #FFFFFF
  text-align: center
  font-size: 14px
  font-style: normal
  font-weight: 300
  line-height: 18px
  letter-spacing: 0



h3
  color: #FFFFFF
  font-size: 22px
  font-style: normal
  font-weight: 800
  line-height: 38px
  letter-spacing: 0
  text-align: center




